.unselectable{
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chatBody{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 20px;
}

.chatNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popularPicture{
    margin-left: 20px;
    width: 50px;
    height: auto;
}

.leftNav{
    display: flex;
    justify-content: center;

    align-items: center;
}

.rightNav{
    display: flex;
}

.rightNav span{
    font-size: 30px;
}

.leftNav span:last-child{
    margin-left: 20px;
}

.messages{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.messages span{
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 1rem;
    margin-left: 3rem;
    margin-bottom: 0;
    justify-content: flex-start !important;
}

.messages span:last-child {
    margin-bottom: 1rem;
}

.flexBox{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.chatBottom{
    width: 100%;

    position:fixed;
    bottom: 30px;
    justify-content: space-between !important;
}

.chatBottom span:last-child{
    margin-right: 50px;
}

.chatBox{
    margin-right: 20px;
}

.boxLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-left: 10px;
}

.boxLeft span:last-child{
    margin-left: 20px;
    font-size: 15px;
}

.boxLeft input{
    background-color: transparent;
    width: 100%;
    border: none;
    color: #5E5E5E;
    margin-left: 20px;
    font-size: 15px;
    font-family: inherit;
}

.boxLeft input:focus{
    outline: none;
}

.boxRight{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.chatBox{
    display: flex;
    width: 100%;
    border-radius: 20px;
    background-color: #E2E2E2;
}

.addButton{
    margin-right: 20px;
}

.otherUser{
    background-color: #8D86C9 !important;
    color: white;

    justify-content: flex-start !important;
    align-items: flex-start !important; 

    align-self: flex-start !important; /* This is key! */
}

.chatGrid {
    height: 100%;
    display: grid;
    grid-template-rows: 4rem calc(100% - 8rem) auto;
    overflow: hidden;
}

.navContainer {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.inputContainer {
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    align-items: center;
}