@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat';
    width: 100%;
    background: #F0F0F0;
    position: fixed; /* FOR DISABLING OVERFLOW GARBAGE ON MOBILE */
}

#__next {
    height: 100%;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }