@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat';
    width: 100%;
    background: #F0F0F0;
    position: fixed; /* FOR DISABLING OVERFLOW GARBAGE ON MOBILE */
}

.overallParent {
    display: flex;

    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;

    scrollbar-color:#817ab6 #272335;
    scrollbar-width: medium;
}

.overallParent::-webkit-scrollbar {
  width: 10px;
  max-height: 10px;
}

.overallParent::-webkit-scrollbar-thumb {
  background-color: #847eb6;
  border-radius: 20px;
}


#__next {
    height: 100%;
}

@media only screen and (max-width: 960px) {
    .overallParent {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .overallParent::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }