.parent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.bodyContent{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

.profileInfoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    height: 90px;
    margin-bottom: 10px;
}

.jobImage{
    height: auto;
    width: 70px;
}

.profileInfoContainer span{
    font-size: 80px;
    color: #B1B1B1;
    font-weight: 200;
    margin-bottom: 8px;
}

.profileLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileText{
    margin-left: 30px;
}

.profilePicture {
    height: 5rem;
    border-radius: 50%;
}

.profileName {
    font-size: 1.2rem;
    font-weight: 500;
}

.profileEmail{
    margin-top: 7px;
    font-size: 0.9rem;
    color: #646464;
}

.container{
    margin-top: 60px;
}

.container span{
    font-size: 22px;
    color: #424242;
}

.jobsContainer {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 0.10rem;
    height: auto;
}

.jobsHeader{
    margin-left: 23px;
}

.jobsHeader {
    padding-bottom: 0;
    padding-top: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #5E5E5E;
}

.jobsHeader span {
    margin-right: 1rem;
}

.jobScroll {
    padding-left: 20px;
    padding-top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    width: 100%;
}

.jobScroll div {
    border-radius: 50%;
    margin-bottom: 10px;
    flex: 0 0 auto;
}

.jobItem {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 5rem;
    align-items: center;
    margin-right: 0.8rem;
}

.jobItem div {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 560px) {
    .jobScroll {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .jobScroll::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}