/*.indexBody{
    padding: 2rem;
    grid-template-rows: auto 0.45fr 0.5fr;
}*/

.mapParent{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;

}

.messageCard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem 0.5rem 1.5rem;

    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;

    background-color: #958DD4;
    border-radius: 20px;
}

.messageCard span{
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 30px;
}

.messageCard div:last-child {
    margin-left: auto;
    display: flex;
}

.messageIcon{
    font-size: 25px !important;
}

.profilePicture{
    height: 70px;
}

.nearHeader{
    padding-left: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navIcon{
     font-size: 38px;
}

.navText{
    margin-left: 20px;
    font-weight: 400;
    font-size: 25px;
}