/*.indexBody{
    padding: 2rem;
    grid-template-rows: auto 0.45fr 0.5fr;
}*/

.mapParent{
    display: flex;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.mapParent > div{
    z-index: 0;
}

.popular{
    display: flex;
    width: 100%;
    height: 250px;

    flex-direction: column;

    background-color: #f7f7f7;
    border-radius: 20px;

    position:absolute;
    z-index:1 !important;
    margin-top: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.076), 0 6px 20px 0 rgba(0, 0, 0, 0.083);
}

.jobHeader{
    justify-content: space-between;
    display: flex;

    margin-top: 30px;
    padding-right: 60px;

    padding-left: 45px;
}

.jobList{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 70px;
    padding-left: 60px;
}

.popularJob{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popularTitle{
    font-weight: 400;
    font-size: 20px;
}

.popularPicture{
    height: 70px;
}

.popularAll{
    color: #725AC1;
    font-weight: 400;
}

.popularJob span{
    margin-top: 20px;
    font-size: 13px;
    color: #5A5A5A;
}

.messageCard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem 0.5rem 1.5rem;

    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;

    background-color: #958DD4;
    border-radius: 20px;
}

.messageCard span{
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 30px;
}

.messageCard div:last-child {
    margin-left: auto;
    display: flex;
}

.messageIcon{
    font-size: 25px !important;
}

.profilePicture{
    height: 60px;
    margin-left: -5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nearHeader{
    padding-left: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navIcon{
     font-size: 33px;
}

.navText{
    margin-left: 20px;
    font-weight: 400;
    font-size: 21px;
}

.splideComponent{
    margin-bottom: 30px;
}

@media only screen and (max-width: 700px){

    .jobList div:last-of-type{
        display: none;
    }

}


@media only screen and (max-width: 600px){
    .jobList{
        padding-right: 30px;
        padding-left: 30px;
    }


    .jobHeader{
        padding-right: 34px;
        padding-left: 34px;
    }
}

@media only screen and (max-width: 500px) {
    .mapParent{
        margin-left: 35px;
        margin-right: 40px;
    
    }

    .messageCard {
        margin-left: 35px;
        margin-right: 40px;
    }

    .messageCard span{
        color: white;
        font-weight: 500;
        font-size: 18px;
        padding-left: 20px;
    }

    .nearHeader{
        padding-left: 35px;
    }

    .splideComponent button{
         display: none !important;
    }

    .splideComponent > div{
        margin-left: -25px !important;
    }
    
}