.parent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 0fr;
}

.headerContent {
    font-size: 1.2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    color: #5E5E5E;
}

.headerContent span {
    font-size: 2rem;
    margin-right: 1rem;
}

.bodyContent {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.profileInfoContainer {
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileInfoContainer img {
    margin-right: 1.5rem;
}

.profilePicture {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}


.noJobs{
    padding: 15px;
    display: flex;

    margin-left: 30px;
    margin-right: 30px;

    justify-content: center;

    background: rgba(172, 172, 172, 0.17);
    border: 1px solid rgba(0, 0, 0, 0.28);
    box-sizing: border-box;
    border-radius: 12px;
}

.noJobs span{
    color: #969696;
    margin-right: 10px;
}

.noJobs div{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #838383;
}

.jobImage{
    height: auto;
    width: 70px;
}

.profileName {
    font-size: 1.2rem;
}

.profileText {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.profileText div {
    margin-bottom: 0.5rem;
}

.starContainer {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.workerStatus {
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #65BE57;
    width: fit-content;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    border-radius: 11px;
}

.ratingText {
    font-size: 0.8rem;
    margin-bottom: 0 !important;
    margin-left: 0.3rem;
}


.jobsContainer {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.5rem;
    height: auto;
}

.jobsHeader {
    padding: 2rem;
    padding-bottom: 0;
    padding-top: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #5E5E5E;
}

.jobsHeader span {
    margin-right: 1rem;
}

.jobScroll {
    padding-left: 1.5rem;
    padding-top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
}

.jobScroll div {
    border-radius: 50%;
    margin-bottom: 10px;
    flex: 0 0 auto;
}

.jobItem {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 5rem;
    align-items: center;
    margin-right: 0.8rem;
}

.jobItem div {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.splideComponent{
    margin-bottom: 30px;
    margin-top: 30px;

    left: 0;
    right: 0;

    overflow-x: auto;
    overflow-y: hidden;

    height: 270px;
}

.reviewsContainer {
    margin-top: 0;
    padding-top: 10px;
}

.sendMsgContainer {
    background: #8D86C9;
    color: white;
    width: 2.5rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendMsgContainer span {
    font-size: 1.6rem;
    margin-right: 0 !important;
}

.right {
    display: flex;
    margin-left: auto;
}

@media only screen and (max-width: 560px) {
    .jobScroll {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .jobScroll::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}


/* modal stuff */

.modalPfp {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.modalHeading {
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalHeading div {
    display: inherit;
    align-items: center;
}

.modalHeading div:last-child {
    margin-right: 2rem;
}

.modalGrid {
    display: grid;
    height: 100%;
    grid-template-rows: 0.2fr 0.7fr 0.1fr;
}

.inputRow {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.modalInput {
    display: grid;
    grid-template-rows: 0.7fr 0.2fr;
}

.modalInput span {
    color: #5A5A5A;
    margin-bottom: 0.3rem;
}

.modalComment {
    font-family: inherit;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 1rem;
    height: 100%;
}

.modalStars {
    border-radius: 20px;
    border: 2px solid grey;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalStars span {
    transition: all ease-in-out 0.15s;
    color: #B2B2B2;
    font-size: 2rem;
    margin-right: 1rem;
}

.modalStars span:last-child {
    margin-right: 0;
}

.submitReview {
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #A4A4A4;
}

.submitReview:active {
    color: green;
}

.submitReview span:last-child {
    margin-left: 0.5rem;
}

.noReviews {
    margin-top: 1.5rem;
}