.cardBody {
    background: white;
    box-shadow: -2px 2px 21px -8px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    min-height: auto; 
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: #5A5A5A;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 0.8rem;
}

.header img {
    height: 2rem;
    padding-right: 0.5rem;
}

.priceContainer {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.priceContainer h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.userPfpList {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2rem;
    padding-bottom: 1rem;
}

.userPfpList div {
    margin-left: 10px;
    left: 0;
}

.star{
    margin-left: 15px;
}

.pfp {
    height: auto;
    width: 2.5rem;
    border-radius: 50%;
    
}