
.messageCard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem 0.5rem 1.5rem;

    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;

    background-color: #958DD4;
    border-radius: 20px;
}

.noMessages{   
    background-color: #f8f8f8 !important;
}

.noMessages span{
    color: black !important;
}

.messageCard span{
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
}

.messageCard div:last-child {
    margin-left: auto;
    display: flex;
}

.messageIcon{
    font-size: 25px !important;
}


.noMessages2{
    padding: 15px;
    display: flex;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 13px;

    justify-content: center;

    background: rgba(172, 172, 172, 0.17);
    border: 1px solid rgba(0, 0, 0, 0.28);
    box-sizing: border-box;
    border-radius: 12px;
}

.noMessages2 span{
    color: #969696;
    margin-right: 10px;
}

.noMessages2 div{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #838383;
}

.profilePicture{
    height: 60px;
    width: 60px;
    margin-left: -5px;
    margin-bottom: 5px;
    margin-top: 5px;

    object-fit: cover;
    border-radius: 50%;
}

@media only screen and (max-width: 500px) {

    .messageCard {
        margin-left: 20px;
        margin-right: 20px;
    }

    .messageCard span{
        color: white;
        font-weight: 500;
        font-size: 18px;
        padding-left: 20px;
    }
    
}