
.messageCard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem 0.5rem 1.5rem;

    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;

    background-color: #958DD4;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(180, 180, 180, 0.49);
}

.noMessages{   
    background-color: #f8f8f8 !important;
}

.noMessages span{
    color: black !important;
}

.messageCard span{
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
}

.messageCard div:last-child {
    margin-left: auto;
    display: flex;
}

.messageIcon{
    font-size: 25px !important;
}

.profilePicture{
    height: 60px;
    width: 60px;
    margin-left: -5px;
    margin-bottom: 5px;
    margin-top: 5px;

    object-fit: cover;
    border-radius: 50%;
}

@media only screen and (max-width: 500px) {

    .messageCard {
        margin-left: 20px;
        margin-right: 20px;
    }

    .messageCard span{
        color: white;
        font-weight: 500;
        font-size: 18px;
        padding-left: 20px;
    }
    
}